shfs-tools/shfs_mkfs
shfs-tools/shfs_admin
ctltrigger/ctltrigger
.config.mk
build/*
*.bak
*.o
*.a
*.d
*.so
*~
\#*\#
.\#*
*.swp
minicache
Capstanfile
,*
.*
shfs-kmod/Module.symvers
shfs-kmod/kmod_shfs.ko
shfs-kmod/kmod_shfs.mod.c
shfs-kmod/modules.order
